@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";

@theme {
  --color-main-txt: #083839;
}

.main-bg {
  background: linear-gradient(to right, #ffe9d3, #fffaee);
}
.secondary-bg {
  background: linear-gradient(to right, #fffaee, #ffe9d3);
}

.active {
  color: #ff6b6b;
}

.circle-md {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
